<head>
    <title>Head</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
</head>

<header>


    <nav class="navbar navbar-expand-sm bg-light">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" routerLink="employee">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="employee/add">Add Employee</a>
            </li>
        </ul>
    </nav>

</header>